.body {
    background-color:lightskyblue;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline;
}
#header {
    height: 40px;
    background:whitesmoke;
    padding-right: 900px;
    margin: left 90%;
    margin
    



}

.button {
    background-color: blue;
    padding: 5px 200px;
    color: white;
}
.button1 {
    background-color: blue;
    padding: 5px 10px;
    color:white;

}
.div1 {
    margin: 50%;

}
